server:
  port: 8080

sfg:
  brewery:
    beer-inventory-service-host: http://localhost:8082
    inventory-user: good
    inventory-password: beer

spring:
  datasource:
    url: jdbc:h2:mem:testdb;MODE=MYSQL
  cache:
    jcache:
      config: classpath:ehcache.xml
  h2:
    console:
      enabled: true
  artemis:
    user: artemis
    password: simetraehcapa